/build*/
/.DS_Store
/platforms/ios/KeyboardExtension/Resources/msime.db
/platforms/ios/KeyboardExtension/Resources/msime.db.sha256
/platforms/ios/KeyboardExtension/Resources/dictionary-manifest.json
/platforms/ios/KeyboardExtension/Resources/SHA256SUMS.txt
